/*generic*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1{
    font-size: 55px;
    padding: 50px 20px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 30px;
    margin-bottom: 20px;
}

p{  
    line-height: 28px;
}

button{
    border-color: transparent;
    font-weight: bold;
}

/*utilities*/

.container{
    width: 1200px;
    margin: auto;
}

.logo{
    height: auto;
    width: 130px;
}

.side-button{    
    padding: 8px;
    font-size: 14px;
    border-radius: 25px;
}

.main-button{
    border-radius: 25px;
    padding: 15px;
}

.bg-bk{
    background-color: #23272A;
    color: white;
}

.bg-purple{
    background-color: #8EA1E1;
    color: white;
}


/*header*/
header{
    background-color: #255EE9;
    color: white;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 16px;
}

.bg-jumbo{
    background-image:url(../img/jumbo.png);
    background-size: cover;
    min-height: 500px;
}

.introduction{
    padding: 60px 260px;
    line-height: 25px;
    text-align: center;
}

.bg-jumbo button{
    margin: 20px;
}

/*main*/
.paragraph{
    padding: 200px;
    display: flex;
    align-items: center;
    background-color: white;
}

.odd-paragraph{
    padding: 200px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    background-color: #F6F6F6;
}

.last-paragraph{
    padding: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #F6F6F6;
}

.description{
    padding: 0 100px;
}

.p-img{
    height: 400px;
}

.l-img{
    height: 700px;
}

.last-paragraph :not(:first-child){
    margin-bottom: 30px;
}

.description h2, .last-paragraph h2{
    padding-bottom: 25px;
}

.last-paragraph h3::before{
    content: "";
    background-image: url(../img/stars.svg);
    background-size: cover;
    height: 70px;
}

/*footer*/
footer{
    background-color: #23272A;
    color: white;
}

li{
    margin-bottom: 10px;
    font-size: 14px;
}

.footer{
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    
}
.border{
    border-top: 2px solid #363F56;
}

.nav-foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 100px 0;
}

.main-foot{
    width: 40%;
}

.side-foot{
    width: 15%;
}

li:first-child{
    color: #8EA1E1;
}

footer img{
    height: 20px;
    margin-right: 10px;
}