/*generic*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1{
    font-size: 55px;
    padding: 50px 20px;
}


/*utilities*/

.container{
    width: 1200px;
    margin: auto;
}

.logo{
    height: auto;
    width: 130px;
}

.button{
    border-color: transparent;
    font-weight: bold;
}

.side-button{    
    padding: 8px;
    font-size: 14px;
    border-radius: 25px;
}

.main-button{
    border-radius: 25px;
    padding: 15px;
}

.bg-bk{
    background-color: #23272A;
    color: white;
}


/*header*/
header{
    background-color: #255EE9;
    color: white;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 16px;
}

.bg-jumbo{
    background-image:url(../img/jumbo.png);
    background-size: cover;
    min-height: 500px;
}

.introduction{
    padding: 60px 260px;
    line-height: 25px;
    text-align: center;
}

.bg-jumbo button{
    margin: 20px;
}

/*main*/
.paragraph{
    padding: 100px 200px;
    display: flex;
    align-items: center;
    background-color: red;
}

.odd-paragraph{
    padding: 100px 200px;
    display: flex;
    align-items: center;
    background-color: orange;
}

.description{
    padding-left: 150px;
}

.p-img{
    height: 250px;
}

.last-paragraph{
    padding: 100px;
    display: flex;
    flex-flow: column;
    background-color: orange;
    align-items: center;
    min-width: 600px;
}

.last-paragraph :not(:first-child){
    margin-bottom: 30px;
}

/*footer*/
footer{
    background-color: aqua;
}

.footer{
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
    
}
.border{
    border-top: 2px solid black;
}